.block{
	background: #05bfc8;
	min-height: 840px;
	margin: 3%;
	padding-bottom: 3%;
}
.title{
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 400%;
}
.content_right{
	color: white;
	font-size: 300%;
}
.content{
	color: white;
	font-size: 300%;
	margin-left: 20%;
}
.content_left{
	color: white;
	font-size: 300%;
	margin-left: 10%;
}
.content_center{
	color: white;
	font-size: 300%;
	margin-left: 10%;
	margin-right: 10%;
}
.header{
	color: white;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 300%;
	font-weight: bold;
}
.title_img{
	text-align: right;
}
.greeting {
	margin: auto;
	width: 70%;
}
.birth {
	margin: auto;
	width: 80%;
}
.img{
	display: flex;
}
.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows:  150px auto 150px  1fr;
}
.cell_1 {
	grid-column: span 1;
}
.cell_2 {
	grid-column: span 2;
}
.cell {
	text-align: center;
	grid-column: span 4;
	background-image: url("img/Страны.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 800px;
}
.cell_4 {
	grid-column: span 4;
}
.drag{
	position:relative;
	cursor:hand;
	z-index: 100;
}
