.block{
	background: #05bfc8;
	margin: 3%;
	padding-bottom: 3%;
	font-family: Arial, sans-serif;
}
.title{
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 350%;
}
.content_right{
	color: white;
	font-size: 250%;
	margin-right: 5%;
}
.content{
	color: white;
	font-size: 250%;
	margin-left: 20%;
}
.content_left{
	color: white;
	font-size: 250%;
	margin-left: 10%;
}
.content_center{
	color: white;
	font-size: 250%;
	margin-left: 10%;
	margin-right: 10%;
}
.content_countries{
	position: absolute;
	color: white;
	top: 1%;
	left: 35%;
}
.header{
	color: white;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 250%;
	font-weight: bold;
}
.title_img{
	text-align: right;

}
.greeting {
	margin: auto;
	width: 70%;
}
.menu_width {
	margin: auto;
	width: 55%;
}
.menu_text{
	text-align: center;
	color: white;
	font-size: 200%;
}
.img_width {
	margin: auto;
	width: 80%;
}
.img_height {
	margin: auto;
	width: 50%;
}
.img_vol {
	margin: auto;
	width: 65%;
}
.img_menu {
	margin: auto;
	width: 70%;
}
.countries {
	width: 105%;
}
.img{
	display: flex;
}
.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.menu {
	display: none;
}
.cell_1 {
	grid-column: span 1;
}
.cell_2 {
	grid-column: span 2;
}
.cell_4 {
	position:relative;
	grid-column: span 4;
}
.visible {}
.invisible{
	display: none;
}
.invisible_m{
	display: none;
}
.invisible_nav{
	display: none;
}
.drag{
	position:relative;
	cursor:hand;
	z-index: 100;
}
.img_text{
	text-align: center;
	color: white;
	font-size: 250%;
}
.nav{
	display: flex;
	justify-content: space-around;
}

.corner{
	cursor:pointer;
}
.drag_cur{
	cursor:move;
}

@media screen and (max-device-width: 768px) {

	.invisible_m{
		display: block;
	}
	.visible {
		display: none;
	}
	.invisible{
		display: flex;
	}
	.cell_1 {
		display: none;
	}
	.menu {
		display: flex;
		background: #109ca2;
		grid-column: span 1;
		justify-content: space-around;
	 }
	.grid-container{
		display: grid;
		grid-template-columns: 1fr;
	}
	.cell_2 {
		grid-column: span 1;
	}
	.cell_4 {
		position:relative;
		grid-column: span 1;
	}
	.content_right{
		color: white;
		font-size: 300%;
		margin-left: 10%;
		margin-right: 10%;
	}
	.content{
		color: white;
		font-size: 300%;
		margin-left: 10%;
		margin-right: 10%;
	}
	.content_left{
		color: white;
		font-size: 300%;
		margin-left: 10%;
		margin-right: 10%;
	}
	.content_countries{
		display: none;
	}
	.countries {
		display: none;
	}
	.drag{
		display: none;
	}
	.img_text{
		text-align: center;
		color: white;
		font-size: 300%;
		padding: 2%;
	}
	.img_height {
		margin: auto;
		width: 80%;
	}
}

@media screen and (max-device-width: 1200px) {
	.img_height {
		margin: auto;
		width: 60%;
	}
	.title{
		color: white;
		text-align: center;
		font-weight: bold;
		font-size: 150%;
	}
	.img_text{
		text-align: center;
		color: white;
		font-size: 150%;
	}
	.header{
		color: white;
		text-align: center;
		margin-top: auto;
		margin-bottom: auto;
		font-size: 150%;
		font-weight: bold;
	}
	.content_right{
		color: white;
		font-size: 150%;
		margin-left: 10%;
		margin-right: 10%;
	}
	.content_center{
		color: white;
		font-size: 150%;
		margin-left: 10%;
		margin-right: 10%;
	}
	.content{
		color: white;
		font-size: 150%;
		margin-left: 10%;
		margin-right: 10%;
	}
	.content_left{
		color: white;
		font-size: 150%;
		margin-left: 10%;
		margin-right: 10%;
	}
	.content_countries{
		position: absolute;
		color: white;
		font-size: 40%;
		top: 0;
		left: 35%;
	}
	.drag{
		position:relative;
		cursor:hand;
		z-index: 100;
		width: 70%;
	}
}
@media screen and (max-device-width: 1440px) {
	.content_countries{
		position: absolute;
		color: white;
		font-size: 80%;
		top: 0;
		left: 35%;
	}
}